

@font-face {
  font-family: myFirstFont;
  src: url(../css/New\ Super\ Mario\ Font\ U.ttf);
  font-weight: bold;
}
html, body {
    background-color: #4ca1f9;
    margin: 0;
    text-align: center;
    font-family: myFirstFont;
    font-size: 25px;
}
.background {
    background: url("../images/mushroom-kingdom.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px auto;
    height: 750px;
    width: 1200px;
    position: relative;
    max-width: 1200px;
}

/* ---------------------------- CARD/HP CLASSES ----------------------------- */
.card {
  height: 120px;
  width: 180px;
  position: absolute;
  border-radius: 5px;
}


.MARIO {
  border: 5px solid red;
  z-index: 5;
  background: url(../images/mario.jpg);
}
.LUIGI {
  border: 5px solid blue;
  z-index: 5;
  background: url(../images/luigi.jpg);
}
.YOSHI {
  border: 5px solid green;
  z-index: 5;
  background: url(../images/yoshi.jpg);
}
.BOWSER {
  border: 5px solid orange;
  z-index: 5;
  background: url(../images/bowser.png);
}

.MARIO-hp {
  background-color: red;
}
.LUIGI-hp {
  background-color: blue;
}
.YOSHI-hp {
  background-color: green;
}
.BOWSER-hp {
  background-color: orange;
}

.hp {
  color: white;
  width: 41px;
  line-height: 29px;
  height: 25px;
  position: absolute;
  right: -4px;
  bottom: 0;
  border-radius: 5px 0 0 0;
  margin-left: 0.5px;
  z-index: 3;
}

/* ------------------ DOCKS/POSITION CLASSES -------------------- */

.dock-player1-empty, .dock-player2-empty {
  border: 3px solid rgba(56, 54, 54, 0.5);
  background-color: rgb(226, 226, 226);
  text-shadow: -1.5px 0 black, 0 1.5px black,
    1.5px 0 black, 0 -1.5px black;
  color: white;
  /* font-size: 27px; */
  line-height: 125px;
  z-index: 1;
}

.dock-player1-empty {
  left: 315px;
  top: 360px;
}

.dock-player2-empty {
  left: 720px;
  top: 360px;

}

.dock-fighter1 {
  top: 560px;
  left: 210px;
}
.dock-fighter2 {
  top: 560px;
  left: 415px;
}
.dock-fighter3 {
  top: 560px;
  left: 620px;
}
.dock-fighter4 {
  top: 560px;
  left: 820px;
}
.dock-player1 {
  top: 360px;
  left: 315px;
}
.dock-player2 {
  top: 360px;
  left: 720px;
}

/* ----------------------- BUTTON CLASSES -------------------------- */

.start-button, .attack-button, .restart-button {
  left: 531px;
  width: 150px;
  position: absolute;
  border-radius: 5px;  
}
.start-button, .restart-button {
  background-color: white;
  height: 35px;
  border: 3px solid #4ca1f9;
  color: #4ca1f9;
  line-height: 36px;
}
.attack-button {
  top: 305px;
  height: 60px;
  background-color: red;
  color: white;
  border: 3px solid white;
  line-height: 60px;
  font-size: 32px;
}

.start-button {
  top: 380px;
}
.restart-button {
  top: 430px;
}


/* ---------------------- STATUS BAR CLASS ------------------------ */

.status-bar {
  background-color: #4ca1f9;
  border: 3px solid  white;
  color: white;
  width: 850px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 498px;
  left: 182px;
  border-radius: 5px;
  z-index: 1;
}
.blink {
  animation:fade-in 1.2s infinite;
  z-index: 5;
}
@keyframes fade-in{
  from{
    opacity:1;
  }
  to{
    opacity:0;
  }
}



/* ----------------------- WIN CLASSES -------------------------- */

.MARIO-win {
  background: url(../images/mario-win.jpg);
}
.LUIGI-win {
  background: url(../images/luigi-win.jpg);

}
.YOSHI-win {
  background: url(../images/yoshi-win.jpg);

}
.BOWSER-win {
  background: url(../images/bowser-win.jpg);
}

/* ----------------------- LOSE CLASSES -------------------------- */

.MARIO-lose {
  background: url(../images/mario-lose.jpg);
  border: 5px solid black;
  z-index: 5;
}
.LUIGI-lose {
  background: url(../images/luigi-lose.jpg);
  border: 5px solid black;
  z-index: 5;
}
.YOSHI-lose {
  background: url(../images/yoshi-lose.jpg);
  border: 5px solid black;
  z-index: 5;
}
.BOWSER-lose {
  background: url(../images/bowser-lose.png);
  border: 5px solid black;
  z-index: 5;
}
.MARIO-lose, .LUIGI-lose, .YOSHI-lose, .BOWSER-lose .hp{
  background-color: black
}

.win-border {
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  z-index: 99;
}

/* ----------------------- MISC. CLASSES -------------------------- */

.hidden {
  visibility: hidden;
}

#title {
  font-size: 30px;
}

#red {
  color: red;
}
#blue {
  color: blue;
}
#green {
  color: green;
}
#orange {
  color: orange;
}



.modal {
    background-color: white;
    border: 3px solid #4ca1f9;
    color: #4ca1f9;
    position: absolute;
    height: 630px;
    width: 851px;
    border-radius: 5px;
    z-index: 100;
    left: 181px;
    top: 10px;
    padding: 24px;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
}






/* img {
  width: 200px;
  height: 188px;
} */
